<a href="https://colab.research.google.com/github/aluu05/assignments/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples in Python
A tuple in Python is an ordered, immutable sequence of elements. Tuples are defined using parentheses and can contain elements of different data types, including other tuples. Once a tuple is created, its elements cannot be modified, added, or removed. This immutability makes tuples suitable for representing fixed collections of data.

## Objective
- Comprehend the application of tuples
- Understand how a tuple uses a memory
- Apply various operations on tuples

## Prerequisite

- Lists
- Decision and loops
- Input functions
- Python literals
- Programming variables


## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

# 1. Exercising tuples

1a) Take five inputs from an user and save it in a tuple called ```my_tuple```

In [1]:
input1 = input("Enter the first input: ")
input2 = input("Enter the second input: ")
input3 = input("Enter the third input: ")
input4 = input("Enter the fourth input: ")
input5 = input("Enter the fifth input: ")

my_tuple = (input1, input2, input3, input4, input5)

print(my_tuple)

Enter the first value: pole
Enter the second value: 10
Enter the third value: element
Enter the fourth value: six
Enter the fifth value: 9
('pole', '10', 'element', 'six', '9')

1b. How do you assign a single element in a tuple?

In [2]:
t1 = my_tuple + (200,)
print(t1)

('pole', '10', 'element', 'six', '9', 200)

1c. ```my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)```
Count the repeated integers and print the result on the console.

In [3]:
my_tuple = (1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

count_dict = {}

for num in my_tuple:
    if num in count_dict:
        count_dict[num] += 1
    else:
        count_dict[num] = 1


for num, count in count_dict.items():
    if count > 0:
        print(f"Number {num} is repeated {count} times.")

Number 1 is repeated 3 times.
Number 2 is repeated 4 times.
Number 3 is repeated 4 times.
Number 4 is repeated 2 times.
Number 5 is repeated 1 times.

1d. ```my_tuple = my_tuple + my_tuple```


Proof that ```my_tuple``` in part c is different than the ```my_tuple``` in part d.

In [5]:
my_tuple = my_tuple + my_tuple
print(my_tuple)

(1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

1e. Explain why the following operations aren’t legal for
the tuple. Answer without using the Python.
```
x = (1,2,3,4)
x.append(1)
x[1] = "hello"
del x[2]
```

The append function is being attempted but it is not possible since tuples are immutable. Same thing with the other functions, they are trying to change the first value of the tuple and deleting part of the tuple respectively.

# 2. Packing and unpacking tuples

Python permits tuples to appear on the left side of an assignment operator, in which case variables in the tuple receive the corresponding values from the tuple on the right side of the assignment operator. Here’s a simple example:

In [ ]:
(one, two, three, four) =  (1, 2, 3, 4)

2a. What is the data type of each variable?

Each variable is an integer.

2b. Python has an extended unpacking feature, allowing an element marked with * to absorb any number of elements not matching the other elements. For example,

In [ ]:
x = (1, 2, 3, 4)
a, b, *c = x
a, b, c

(1, 2, [3, 4])

2c. What will be the result of ```a, *b, c = x```?

In [9]:
x = (1, 2, 3, 4)
a, *b, c = x
a, b, c

(1, [2, 3], 4)

# 3. Memory management

```
my_x = [100,200,300,400]
my_y = (200,300,400,500)

```
Discuss how memory addresses are assigned to each index of the list and the tuple. Pay attention to new addresses & re-used addresses.

| Index |     my_x      |      my_y     |
|   -   |       -       |       -       |
|   0   |10754024       |10757224       |
|   1   |10757224       |138306679163120|
|   2   |138306679162800|138306679162832|
|   3   |138306679162928|138306679165968|

In [12]:
my_x = [100,200,300,400]
my_y = (200,300,400,500)

for element in my_x:
    print(f"Memory address of {element} in my_x: {id(element)}")
for element in my_y:
    print(f"Memory address of {element} in my_y: {id(element)}")

Memory address of 100 in my_x: 10754024
Memory address of 200 in my_x: 10757224
Memory address of 300 in my_x: 138306679162480
Memory address of 400 in my_x: 138306679165552
Memory address of 200 in my_y: 10757224
Memory address of 300 in my_y: 138306679162608
Memory address of 400 in my_y: 138306679162448
Memory address of 500 in my_y: 138306679165648

## Challenges

Please describe the challenges you faced during the exercise.

I did not experience any difficutlies completeing this exercise.